*{
  margin:0px;
  padding:0px;
}

.image-container{
  min-height:200px;
}

.upper-left{
  background-image: url(https://unsplash.it/1000/300?image=73);
  background-repeat:no-repeat;
}

.upper-right{
  background-color: purple;
  background-image: url(https://images.unsplash.com/photo-1434854775064-aa2c72a4aa32?dpr=2&auto=compress,format&fit=crop&w=1199&h=674&q=80&cs=tinysrgb&crop=);
  background-repeat:no-repeat;
}

.lower-left{
  background-color: green;
}
.lower-right{
  background-color: yellow;
}
