

.image-container{
  min-height:200px;
}

.upper-left{
  background-image: url (images/football.jpg)
}

.upper-right{
  background-color: purple;
}

.lower-left{
  background-color: green;
}
.lower-right{
  background-color: yellow;
}
